<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>controller.BlogPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManageServlet</servlet-name>
        <servlet-class>controller.BlogManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogCusServlet</servlet-name>
        <servlet-class>controller.BlogCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuCusServlet</servlet-name>
        <servlet-class>controller.MenuCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuDetailServlet</servlet-name>
        <servlet-class>controller.MenuDetailServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>vnpay.VnpayReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>vnpay.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuPostServlet</servlet-name>
        <servlet-class>controller.MenuPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMenuServlet</servlet-name>
        <servlet-class>controller.ApproveMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuManage</servlet-name>
        <servlet-class>controller.MenuManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <servlet-class>controller.DeleteMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDeleteMenuServlet</servlet-name>
        <servlet-class>controller.RequestDeleteMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestEditMenuServlet</servlet-name>
        <servlet-class>controller.RequestEditMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BMISerlvet</servlet-name>
        <servlet-class>controller.BMISerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductSellerServlet</servlet-name>
        <servlet-class>controller.ManageProductSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageComboSellerServlet</servlet-name>
        <servlet-class>controller.ManageComboSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComboSellerServlet</servlet-name>
        <servlet-class>controller.PostComboSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComboServlet</servlet-name>
        <servlet-class>controller.PostComboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>controller.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectOrderServlet</servlet-name>
        <servlet-class>controller.RejectOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSellerServlet</servlet-name>
        <servlet-class>controller.OrderSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductSellerServlet</servlet-name>
        <servlet-class>controller.AddProductSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserRoleServlet</servlet-name>
        <servlet-class>controller.UpdateUserRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>controller.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>controller.CreateUserServlet</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>EditProductSellerServlet</servlet-name>
        <servlet-class>controller.EditProductSellerServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlistcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/blogpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManageServlet</servlet-name>
        <url-pattern>/blogmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogCusServlet</servlet-name>
        <url-pattern>/blogcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuCusServlet</servlet-name>
        <url-pattern>/menucus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuDetailServlet</servlet-name>
        <url-pattern>/menudetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/vnpay_ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuPostServlet</servlet-name>
        <url-pattern>/menupost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMenuServlet</servlet-name>
        <url-pattern>/approveMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuManage</servlet-name>
        <url-pattern>/menumanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <url-pattern>/deletemenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDeleteMenuServlet</servlet-name>
        <url-pattern>/requestdeletemenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestEditMenuServlet</servlet-name>
        <url-pattern>/requestEditMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BMISerlvet</servlet-name>
        <url-pattern>/bmi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductSellerServlet</servlet-name>
        <url-pattern>/manageProductSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageComboSellerServlet</servlet-name>
        <url-pattern>/manageComboSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComboSellerServlet</servlet-name>
        <url-pattern>/postComboSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComboServlet</servlet-name>
        <url-pattern>/postCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectOrderServlet</servlet-name>
        <url-pattern>/rejectOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSellerServlet</servlet-name>
        <url-pattern>/orderSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductSellerServlet</servlet-name>
        <url-pattern>/addProductSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserRoleServlet</servlet-name>
        <url-pattern>/UpdateUserRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/manageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductSellerServlet</servlet-name>
        <url-pattern>/editProductSeller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
