<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>controller.BlogPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManageServlet</servlet-name>
        <servlet-class>controller.BlogManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogCusServlet</servlet-name>
        <servlet-class>controller.BlogCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuCusServlet</servlet-name>
        <servlet-class>controller.MenuCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuDetailServlet</servlet-name>
        <servlet-class>controller.MenuDetailServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlistcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/blogpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManageServlet</servlet-name>
        <url-pattern>/blogmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogCusServlet</servlet-name>
        <url-pattern>/blogcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuCusServlet</servlet-name>
        <url-pattern>/menucus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuDetailServlet</servlet-name>
        <url-pattern>/menudetail</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Removed security constraint as we are handling authentication programmatically -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/profile.jsp</url-pattern>
            <url-pattern>/cart.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    -->
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
