<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <!-- Forgot Password Servlet -->
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <!-- Blog List Servlet -->
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>controller.BlogPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManageServlet</servlet-name>
        <servlet-class>controller.BlogManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlistcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/blogpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManageServlet</servlet-name>
        <url-pattern>/blogmanage</url-pattern>
    </servlet-mapping>
</web-app>
